.carousel {
	padding: 40px 0;

	&-inner {
		position: relative;
		width: 750px;
		height: 580px;
		margin: 0 auto;
	}
	&-control-next-icon {
		width: 30px;
		height: 50px;
		background-image: url('/icons/right.png');
	}
	&-control-prev-icon {
		width: 30px;
		height: 50px;
		background-image: url('/icons/left.png');
	}
}
